@import "tailwindcss";

@theme {
  --color-primary: #4B2E20;
  --color-primary-light: #8B5E3C;

  --color-accent: #D9B38C;

  --color-background: #F8F5F2;

  --color-surface: #FFFFFF;

  --color-border: #E7DDD4;

  --color-text: #2E2E2E;

  --color-muted: #6B7280;

  --color-success: #6D8A64;

  --color-error: #B54B4B;
}